<!doctype html>
{% load static %}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{{ username }} 's cloud</title>
    <link rel="short icon" href="{% static '/cloud/img/logo.ico' %}"></link>
    <script src="{% static '/cloud/js/vue.min.js' %}"></script>
    <script src="{% static '/cloud/js/axios.min.js' %}"></script>
</head>
<body>
    <div id="filelist">
        File List
        {% if fileList %}
            <ul>
            {% for file in fileList %}
            <li>
				{{ file.filename }} ,{{ file.viewtype }} ,{{ file.uploaddate }}
                <button v-on:click="delet($event)">delete</button>
				<button v-on:click="download($event)">download</button>
			</li>
            {% endfor %}
            </ul>
        {% else %}
            <p> No File </p>
        {% endif %}
    </div>
    
    {% verbatim %}
    <div id="upload">
        <input type="file" id="input_file" name="filepath" ref="filepath">
        <button v-on:click="upload">upload</button>
    </div>
    <div id="result">
    </div>
    {% endverbatim %}

    <div id="logout">
        <button onclick="javascript:window.location.href='logout'">logout</button>
    </div>
<script src="{% static '/cloud/js/client.js' %}"></script>
</body>
</html>
