<!doctype html>
{% load static %}
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>cloud</title>
  <link rel="short icon" href="{% static '/cloud/img/logo.ico' %}"></link>
  <script src="{% static '/cloud/js/vue.min.js' %}"></script>
  <script src="{% static '/cloud/js/axios.min.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.8.0/qs.min.js"></script>
</head>
<body>
    <div id="img">
    <img src="{% static '/cloud/img/logo.png' %}" alt="logo">
    </div>

    {% verbatim %}
    <div id="login">
        username:
        <input type="text" name="username" value="testuser" ref="inputname"><br>
        password:
        <input type="password" name="password" value="passwd" ref="inputpass"><br>
        <button v-on:click="verify">login</button>
        <p>{{ message }} </p> 
    </div>
    {% endverbatim %}

<script src="{% static '/cloud/js/index.js' %}"></script>
</body>
</html>
